# 1. Bo qua cac file anh RAW va anh ket qua
*.raw
*.png
*.jpg
*.jpeg
*.bmp

# 2. Bo qua file thuc thi da bien dich tu C
*.exe
*.o
*.obj

# 3. Bo qua cache Python
__pycache__/
*.py[cod]
*$py.class

# 4. Bo qua file tam va thu muc nhap
image_dim.txt
test/
.vscode/
.idea/
